<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns="http://www.springframework.org/schema/beans"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
    <!-- 定义第一个Bean实例：bean1 -->  
    <bean id="HelloImpl" class="com.amos.service.HelloImpl">
        <property name="msg" value="Tony sample"/>
    </bean>
         
</beans>  